.editProfile {
    display: flex;
    flex-direction: column;
    background-color: #3c5233;
    margin: 5%;
    padding: 5%;
}

.editProfile > form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.editProfile > form > input {
    border-radius: 12px;
    padding: 2% 5% 2% 5%;
    border: none;
    outline: none;
}

.editProfile > form > button {
    background-color: white;
    color: #3c5233;
    padding: 2% 5% 2% 5%;
    border-radius: 12px;
    font-size: 18px;
    margin-top: 5%;
    border: none;
    font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
    font-weight: 600;
}