body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family: Optima, Candara, 'Noto Sans', source-sans-pro, sans-serif;
  font-weight: normal;
  background: #1E1F23;
}

#root {
  min-height: 100vh;
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
