body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: 300;
  background: #0D1F22;
}

#root {
  min-height: 100vh;
  height: 100%;
}

#root::before {
        content: '';
        display: block;
        height: 53%;
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 0;
        background: #264027;
        left: 0;
        box-shadow: 0px 2px 2px rgb(24, 24, 24);
        transform: skew(0, -32deg);
        transform-origin: top left;
    }


h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
