body {
  min-height: 100vh;
  height: 100%;
  margin: 0;
  font-family: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  font-weight: 300;
  background: #0D1F22;
}

#root {
  min-height: 100vh;
  height: 100%;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
}
